.find-btn{
    border-radius: 4px;
  background: #256ce1;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
    
}
.find-btn:hover{
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
}
.header-text p,.header-text h5,.header-text h1{
    background-color: #0000448c;
    padding: auto;
}